In [7]:
l = ['shafga', 'ay', 'al', 'za']
print(len(l))

4

In [8]:
for s in l:
    print(s, ':\t', len(str(s)))

shafga :	 6
ay :	 2
al :	 2
za :	 2

In [9]:
#this code is same as above
for i in range(len(l)):
    print(l[i], ':\t', len(l[i]))

shafga :	 6
ay :	 2
al :	 2
za :	 2

In [12]:
l = [ 17.3, 17.75, 19]
for s in l:
    print(s, ':\t', len(str(s)))

17.3 :	 4
17.75 :	 5
19 :	 2

In [8]:
l = ['shafga', 'ay', 'al', 'za', 17.3, 17.75, 19]
for s in l:
    print(s, ':\t', len(str(s)))

shafga :	 6
ay :	 2
al :	 2
za :	 2
17.3 :	 4
17.75 :	 5
19 :	 2

In [9]:
#print all
l[:]

['shafga', 'ay', 'al', 'za', 17.3, 17.75, 19]

In [10]:
#print all
l[::]

['shafga', 'ay', 'al', 'za', 17.3, 17.75, 19]

In [5]:
l4 = [i for i in range(50)]
l4[-2:3]

[]

In [15]:
l4[4:3]

[]

In [16]:
#[start:stop:step]
l4[0:10:2]

[0, 2, 4, 6, 8]

In [18]:
l4[2::5]

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47]

In [21]:
l4[::5]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [30]:
l4[5::]

[5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [31]:
l4[::-5]

[49, 44, 39, 34, 29, 24, 19, 14, 9, 4]

In [32]:
l4[-5::]

[45, 46, 47, 48, 49]

In [62]:
l3 = [3, 4, 5, 89, 34, 2]
l5 = l3

In [63]:
l5

[3, 4, 5, 89, 34, 2]

In [67]:
l3 is l5

True

In [71]:
l6 = l5.copy()
l6

[3, 4, 5, 89, 34, 2]

In [37]:
l5[::-1]

[2, 34, 89, 5, 4, 3]

In [36]:
l5[::-2]

[2, 89, 4]

In [40]:
for i in range(len(l5)):
    print(l5[len(l5)-i-1], end= ', ')

2, 34, 89, 5, 4, 3,

In [41]:
c = len(l5)
for i in range (c):
    print(l5[c-i-1], end= ', ')

2, 34, 89, 5, 4, 3,

In [43]:
c = len(l5)
i = 0
while i < c:
    print(l5[c-i-1], end = ', ')
    i+=1

2, 34, 89, 5, 4, 3,

In [45]:
l5.reverse()
l5

[3, 4, 5, 89, 34, 2]

In [19]:
mylist = [1,2,3]
mylist[0]

1

In [22]:
mylist[0]= 56
mylist[0]

56

In [23]:
mylist

[56, 2, 3]

In [25]:
mylist=[]
print(mylist)
mylist.append(1)
mylist.append(2)
mylist.append('Done')
print(mylist)

[]
[1, 2, 'Done']

In [13]:
string = 'Hello world'
string.replace('o', str(ord('o')))

'Hell111 w111rld'

In [37]:
def inputee():
    
    my_list = []
    while True:
        
        l =input('Enter a number:')
        my_list.append(l)
        co = input('your input is finished yes or no?',)
        if co == 'yes':
            break
        
        
    return my_list

In [36]:
inputee()

Enter a number:2
your input is finished or no?6
Enter a number:36
your input is finished or no?3
Enter a number:3
your input is finished or no?3
Enter a number:5
your input is finished or no?yes

['2', '36', '3', '5']

In [45]:
#we want to print each array of this list
my2DList= [[1,2,3], [4,5,6]]
for i in range(len(my2DList)):
    for j in range(len(my2DList[i])):
        print(my2DList[i][j], end = '')
        
    print()

123
456

In [14]:
my2DList= [[1,2,3], [4,5,6]]
for i in my2DList:
    for j in my2DList:
        print(j, end= " ")
        
    print()

[1, 2, 3] [4, 5, 6]
[1, 2, 3] [4, 5, 6]

In [16]:
mylist = [100, 200, 300, 400, 'python']
mylist.remove('python')
print(mylist)

[100, 200, 300, 400]

In [24]:
mylist.insert(0, 600)
print(mylist)

[600, 600, 600, 100, 200, 300, 400, 'python']

In [61]:
ll = [8, 3, 5, 12]
print(ll.reverse())

None

In [60]:
print(ll.sort())

None

In [29]:
def salamkon(name):
    return 'salam ' + name
myList = ['ali', 'ahmad', 'shayan']
y= list(map(salamkon, myList))
for i in y:
    print(i)

salam ali
salam ahmad
salam shayan

In [46]:
#we want to create a 5x5 matrix
#x is row, y is column
n = 6
a = [[x+5 *y for x in range(n)] for y in range(n)]

In [47]:
a

[[0, 1, 2, 3, 4, 5],
 [5, 6, 7, 8, 9, 10],
 [10, 11, 12, 13, 14, 15],
 [15, 16, 17, 18, 19, 20],
 [20, 21, 22, 23, 24, 25],
 [25, 26, 27, 28, 29, 30]]

In [2]:
n = 5
b = [[x+5 *y for x in range(n)] for y in range(n)]

In [3]:
b

[[0, 1, 2, 3, 4],
 [5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14],
 [15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24]]

In [74]:
##میخوایم  a و  b رو جمع کنبم
n = 5
c = [[0 for x in range(n)] for y in range(n)]
for i in range(len(a)):
    for j in range(len(a[i])):
        c[i][j] = a[i][j] + b[i][j]
        
c

[[0, 2, 4, 6, 8],
 [10, 12, 14, 16, 18],
 [20, 22, 24, 26, 28],
 [30, 32, 34, 36, 38],
 [40, 42, 44, 46, 48]]

In [49]:
List1 = [x for x in range(10)]
List1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
List2 = [x + 1 for x in range(10)]
List2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
List3 = [x+5 for x in range(10) if x % 2 == 0]
List3

[5, 7, 9, 11, 13]

In [59]:
l= [1,2,3]
l.remove(3)
l

[1, 2]

In [60]:
l.append(7)
l

[1, 2, 7]

In [86]:
#کاربرد  del در پاک کردن حافظه
s= [1,2,3]
del s
s
#when you clear a list, you see this error: NameError: name 's' is not defined

NameError: name 's' is not defined

In [89]:
#fibonacci
k = 100
c= 0
f1 = 0
f2 = 1
print(f1, '\t', f2)
while True:
    f1, f2 = f2, f2 + f1
    print(f2, end= '\t')
    
    c+=1
    if c>=100:
        break

0 	 1
1	2	3	5	8	13	21	34	55	89	144	233	377	610	987	1597	2584	4181	6765	10946	17711	28657	46368	75025	121393	196418	317811	514229	832040	1346269	2178309	3524578	5702887	9227465	14930352	24157817	39088169	63245986	102334155	165580141	267914296	433494437	701408733	1134903170	1836311903	2971215073	4807526976	7778742049	12586269025	20365011074	32951280099	53316291173	86267571272	139583862445	225851433717	365435296162	591286729879	956722026041	1548008755920	2504730781961	4052739537881	6557470319842	10610209857723	17167680177565	27777890035288	44945570212853	72723460248141	117669030460994	190392490709135	308061521170129	498454011879264	806515533049393	1304969544928657	2111485077978050	3416454622906707	5527939700884757	8944394323791464	14472334024676221	23416728348467685	37889062373143906	61305790721611591	99194853094755497	160500643816367088	259695496911122585	420196140727489673	679891637638612258	1100087778366101931	1779979416004714189	2880067194370816120	4660046610375530309	7540113804746346429	12200160415121876738	19740274219868223167	31940434634990099905	51680708854858323072	83621143489848422977	135301852344706746049	218922995834555169026	354224848179261915075	573147844013817084101

In [ ]:
all_patient = []
def Input():
    patient = []
    sno = input('Enter a serial number:')
    name = input('Enter patient name:')
    
    patient.append(sno)
    patient. append(name)
    
    return patient

In [ ]:
all_patient = []
patient = Input()
all_patient.append(patient)