In [9]:
n=10
for i in range(n):
    print(' ' * (n-i), '*' * (2*i+1))

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************

In [ ]:
s1 = [12, 19, 20, 17, 16,  13, 17.5]
s2= [0,1,2,3,4,5,6,7,8,9]

In [10]:
range(10)

range(0, 10)

In [13]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [16]:
list(range(2, 20, 5))

[2, 7, 12, 17]

In [19]:
list(range(1, 100, 10))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [22]:
s3 = list(range(0,100,5))
print(s3)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [26]:
for i in range(2, 20, 5 ):
    print(i)

2
7
12
17

In [29]:
s4 = list(range(0, -100, -5))
print(s4)

[0, -5, -10, -15, -20, -25, -30, -35, -40, -45, -50, -55, -60, -65, -70, -75, -80, -85, -90, -95]

In [30]:
s5= list(range(-100, 1, 5))
print(s5)

[-100, -95, -90, -85, -80, -75, -70, -65, -60, -55, -50, -45, -40, -35, -30, -25, -20, -15, -10, -5, 0]

In [31]:
l1 =  []
print (l1)

[]

In [32]:
l2 = list()
print (l2)

[]

In [33]:
l3 = [-1, 2, 'moj', 's', 5.5, 'you', -987]
print(l3)

[-1, 2, 'moj', 's', 5.5, 'you', -987]

In [37]:
ss  = [2, 5, 8, 11, 14]
for i in ss:
    print(i)

2
5
8
11
14

In [ ]:
# list, dictionary , set,  tuple

In [39]:
s7 = [12, 14, 16, 13]
s7.append(19)
print(s7)

[12, 14, 16, 13, 19]

# tuple

In [40]:
a= (12, 5, 'moj00', '5.5', 5.5, -87, s7)
print(a)

(12, 5, 'moj00', '5.5', 5.5, -87, [12, 14, 16, 13, 19])

In [41]:
s7.append (l3)

s7

[12, 14, 16, 13, 19, [-1, 2, 'moj', 's', 5.5, 'you', -987]]

In [43]:
s3 = [1,2,12, [9,8], list(range(10))]
print(s3)

[1, 2, 12, [9, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [44]:
b = (range(10))
b

range(0, 10)

In [46]:
b = list(range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
b = tuple(range(10))
b

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [48]:
a4 = (list(range(10)))
a4
#this is a list not tuple!

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
a5 = tuple(list(range(10)))
a5
#this is a tuple not list!

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [51]:
bb = ([list(range(10)), 9], 9)
bb

([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 9], 9)

In [40]:
# we can not add any item to tuple.

# tuple([0, 1, 2, 3 ,9], 9)


bb = ([list(range(10)), 9], 9)
print(tuple(bb, 9))

TypeError: tuple expected at most 1 argument, got 2

In [54]:
tuple([0, 1, 2, 3 ,9])

(0, 1, 2, 3, 9)

In [56]:
# set omits repetititve items and sorts. 

a6 = [13, 18, 20 , 15, 15, 18, 19, 19, 19 , 19]
se1 = set(a6)
se1

{13, 15, 18, 19, 20}

In [42]:
se1 = set()
se1
# set()

set()

In [58]:
se2 = set(a6)
se2

{13, 15, 18, 19, 20}

In [60]:
a7 = [13, 18, 20 , 15, 15, 18, 19, 'hello', 'hello' , 19]
se3 = set(a7)
se3

{13, 15, 18, 19, 20, 'hello'}

In [ ]:
list = [12, 13, 14, 14, 14, 18, 14, 11, 19, 20]

In [15]:
se1 = set([23, 45, 67, 32, 23, 13, 23, 44])
se2 = set([23, 12, 67, 32, 23, 13, 23, 12])

In [16]:
se1

{13, 23, 32, 44, 45, 67}

In [18]:
se2

{12, 13, 23, 32, 67}

In [19]:
# اشتراک
se1 & se2

{13, 23, 32, 67}

In [20]:
# اجتماع
se1 | se2

{12, 13, 23, 32, 44, 45, 67}

In [21]:
se1 - se2

{44, 45}

# Dictionary

In [61]:
d1 = dict()
d1

{}

In [64]:
d1[2] = 'moj400'
d1

{2: 'moj400'}

In [65]:
d1[12345] = ['s-gh', 20, [20, 20]]
d1

{2: 'moj400', 12345: ['s-gh', 20, [20, 20]]}

In [66]:
d1[12347] = ['f-esh', 20, [20, 20]]
d1

{2: 'moj400', 12345: ['s-gh', 20, [20, 20]], 12347: ['f-esh', 20, [20, 20]]}

In [68]:
d2 = {
    2: 'moj400', 
    12345: ['s-gh', 20, [20, 20]],
    12347: ['f-esh', 20, [20, 20]],
}
d2

{2: 'moj400', 12345: ['s-gh', 20, [20, 20]], 12347: ['f-esh', 20, [20, 20]]}

In [71]:
#یک راه دیگه تعریف دیکشنری
d2 = {
    2: 'moj400', 
    12345: ['s-gh', 20, [20, 20]],
    12347: ['f-esh', 20, [20, 20]],
        }
d2

{2: 'moj400', 12345: ['s-gh', 20, [20, 20]], 12347: ['f-esh', 20, [20, 20]]}

In [72]:
d2[20] = [30, 40 , 'm7', 20]
d2

{2: 'moj400',
 12345: ['s-gh', 20, [20, 20]],
 12347: ['f-esh', 20, [20, 20]],
 20: [30, 40, 'm7', 20]}

In [77]:
dict3  ={
    'score1': 16,
    'score2': {15 : 17}
}
dict3

{'score1': 16, 'score2': {15: 17}}

In [78]:
d3 = dict(dict3)
d3

{'score1': 16, 'score2': {15: 17}}

In [7]:
dict_all_class = dict()
dict_all_class

#تهی

{}

In [80]:
c_101 = dict()
c_101[1] = 's-g'
c_101[2] = 'f-e'
c_101[3] = 's-k'
c_101[4] = 's-r'
c_101

{1: 's-g', 2: 'f-e', 3: 's-k', 4: 's-r'}

In [10]:
c_102 = {
    5: 's+s',
    6: "f+f",
    7: 's_s',
    8: 's_s',
    9: 'ss_ss'
}
c_102

{5: 's+s', 6: 'f+f', 7: 's_s', 8: 's_s', 9: 'ss_ss'}

In [16]:

dict_all_class = dict()
dict_all_class



dict_all_class[101] = c_101
dict_all_class[102] = c_102

dict_all_class

{101: {1: {'name': 's_', 'family': 's'}, 2: {'name': 'f_', 'family': 'e'}},
 102: {'name': 'f_', 'family': 'e', 2: {'name': 'f_', 'family': 'e'}}}

In [12]:
# دیکشنری تو در تو

c_101 = dict()
c_101[1] = {'name': 's_', 'family': 's'}
c_101[2] = {'name': 'f_', 'family': 'e'}


# c_101[4]= 4
c_101

{1: {'name': 's_', 'family': 's'}, 2: {'name': 'f_', 'family': 'e'}}

In [ ]:
def main():
    n= eval(input('How many numbers do you have?'))
    sum = 0.0
    
    for i in range(n):
        
        x= eval(input('Enter a  number:'))
        sum = sum +x 
    print(']n The average is:', sum/n)    
    
main()

In [90]:
n= eval(input('Enter n:'))
for i in range(n+1):
    if i ==0:
        pass
    else:
        if i %2 ==1:
            print(i, end = "")
            
            
print()

Enter n:6
135

In [18]:
s= eval(input('Enter the starting number:'))
e= eval(input('Enter the ending number:'))

for i in range (s , e+1, -1):
    if i % 2 ==1:
        print(i, end = '')

print()

Enter the starting number:6
Enter the ending number:9

In [22]:
start= eval(input('Enter the starting number:'))
end= eval(input('Enter the ending number:'))
step = eval(input('Enter the step:'))

for i in range (start, end, step):
    print(i, end= ' ')
    
print()

Enter the starting number:10
Enter the ending number:10000
Enter the step:100
10 110 210 310 410 510 610 710 810 910 1010 1110 1210 1310 1410 1510 1610 1710 1810 1910 2010 2110 2210 2310 2410 2510 2610 2710 2810 2910 3010 3110 3210 3310 3410 3510 3610 3710 3810 3910 4010 4110 4210 4310 4410 4510 4610 4710 4810 4910 5010 5110 5210 5310 5410 5510 5610 5710 5810 5910 6010 6110 6210 6310 6410 6510 6610 6710 6810 6910 7010 7110 7210 7310 7410 7510 7610 7710 7810 7910 8010 8110 8210 8310 8410 8510 8610 8710 8810 8910 9010 9110 9210 9310 9410 9510 9610 9710 9810 9910

In [32]:
num = 9
print('* ' * num)

for i in range(num-2):
    print('* ' + '  ' * (num-2) + '* ')
print('* ' * num)

* * * * * * * * *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *

In [34]:
n=20
for i in range(n+1):
    if i == 0:
        print('* ' * (n//2+2))
    elif i == n:
        print('* ' * (n//2+2))
    else:
        print('*', " " * (n-2), ' *')

* * * * * * * * * * * *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
*                     *
* * * * * * * * * * * *

In [13]:
# for i in range(1,2,0,4,4)

for i in [1,2,0, 3,4]:
    
    if i ==0:
        print('There are 0s')
        break
        
else:
    
    print('there sre not 0s')

There are 0s

In [38]:
sum = 0.0
n = eval(input('How many numbers do you have?'))
count = 0
while count < n:
    x = eval(input('Enter a number>> '))
    sum = sum + x
    count = count + 1

print ('The average of the ' + str(n) +  'numbers you entred is:', sum/n)

How many numbers do you have?4
Enter a number>> 12
Enter a number>> 12
Enter a number>> 12
Enter a number>> 12
The average of the 4numbers you entred is: 12.0

In [1]:
f1 =1
f2=2
n= int(input('Enter a number:'))
if n==1:
    print(f1)
    exit(0)
    

elif n==2:
    print(f1)
    print(f2)
    
else:
    print(f1)
    print(f2)
    i=3
    while i <=n:
        f3 = f2 + f1
        print(f3, " " )
        f1=f2
        f2=f3
        i=i+1

Enter a number:8
1
2
3
5
8
13
21
34

In [4]:
number = int(input('please input your number: '))
prime= 0
for i in range(1, number+1):
    if number%i == 0:
        prime+=1

if prime==2:
    print('your number is prime')
else:
    print('your number is not prime')

please input your number: 8
your number is not prime

In [2]:
n= eval(input('Enter a number:'))
for i in range(n+1):
    if i==0:
        pass
    else:
        if i %2 ==1:
            print(i, end = " ")
            
            
print()

Enter a number:7
1 3 5 7

In [3]:
while True:
    start = eval(input('Enter the start number:'))
    end = eval(input('Enter the end number:'))
    
    if start>0 and end>0 and end>start:
        break
        
    else:
        print("Please enter positive numbers, with end being greater than start")
    
for i in range(start, end+1):
    if i%2==0:
        continue
        
    print(i, end= " " )

Enter the start number:3
Enter the end number:8
3 5 7

In [4]:
for i in range(1,10):
    for j in range(1,10):
        if ((i+j == 6) or (j-i ==4) or (i+j == 14) or (i- j==4)):
            print("*", end = "")
            
        else:
            print(" ", end = "")
            
    print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *